@model List<HemmingsAuction>
@{
}
@foreach (var item in Model)
{
    <li>
        @item.WebsiteName
    </li>
    <li>
        @item.ItemName
    </li>
    <li>
        @item.AuctionType
    </li>
    <li>
        @item.CurrentBid
    </li>
    <li>
        @item.EndDate
    </li>
    <li>
        <a href=@item.Url>Go to Auction</a>
    </li>
    <li>
       <img src=@item.Picture alt="No photo available">
    </li>
    <br>
}
